website_landing_page/node_modules/
website_landing_page/.next/
website_landing_page/.tools/
website_landing_page/.vercel/
website_landing_page/out/
website_landing_page/*.tgz

node_modules/
.next/
.tools/
.vercel/
out/

.env
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
